.status-bar-safe-area {
    display: none;
}

::deep .app-content {
    padding-top: 0;
}

::deep .lang-switcher .mud-input {
    color: inherit;
}

::deep .lang-switcher .mud-input-adornment {
    color: inherit;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        width: 100%;
        z-index: 1;
    }
}
